/* custom styles for cloudyheads site */

body {
  min-height: 1000px;
  padding-top: 70px;
}

#cartNav {
  display: none;
}

#jumbotron-logo {
  width: 400px;
}

body.home #jumbotron-logo-me,
body.team #jumbotron-logo-me {
  display: none;
}

.shop .thumbnail {
  margin-bottom: 0;
}

.shop h4 {
  margin-bottom: 4px;
}

.shop .product-item {
  display: inline-block;
  min-height: 340px;
}

.product-detail .custom-options {
  margin-top: 15px;
}

.product-detail #cartStatus {
  display: none;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.cart .media-object {
  width: 75px;
}

.cart .checkout-section {
  display: none;
  margin-top: 25px;
}
