<h2>About the Team</h2>
<p>Information about the team and its members.</p>
<div class="row">
  <div class="col-xs-6 col-md-4">
    <img src="img/profile.jpg" alt="Alerto Gutierrez" class="img-thumbnail img-responsive">
    <p>Albert Gutierrez</p>
    <p><small>Quick Info</small></p>
  </div>
  <div class="col-xs-6 col-md-4">
    <img src="img/profile.jpg" alt="Chris Caroc" class="img-thumbnail img-responsive">
    <p>Chris Caroc</p>
    <p><small>Quick Info</small></p>
  </div>
  <div class="col-xs-6 col-md-4">
    <img src="img/profile.jpg" alt="Chris Whitney" class="img-thumbnail img-responsive">
    <p>Chris Whitney</p>
    <p><small>Quick Info</small></p>
  </div>
  <div class="col-xs-6 col-md-4">
    <img src="img/profile.jpg" alt="David Cintron" class="img-thumbnail img-responsive">
    <p>David Cintron</p>
    <p><small>Quick Info</small></p>
  </div>
  <div class="col-xs-6 col-md-4">
    <img src="img/profile.jpg" alt="Jr Session" class="img-thumbnail img-responsive">
    <p>Jr Session</p>
    <p><small>Quick Info</small></p>
  </div>
  <div class="col-xs-6 col-md-4">
    <img src="img/profile.jpg" alt="Susan Brooker" class="img-thumbnail img-responsive">
    <p>Susan Brooker</p>
    <p><small>Quick Info</small></p>
  </div>
</div>
