<h2>Checkout</h2>
<div id="checkoutAlert" class="alert alert-success" role="alert">
  <h1>Thank You!</h1>
</div>
<div class="row">
  <div class="col-md-8">
    <form>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="sr-only" for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="First Name">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="sr-only" for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Last Name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="sr-only" for="address">Address</label>
            <input type="text" class="form-control" id="address" placeholder="Address">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="sr-only" for="city">First Name</label>
            <input type="text" class="form-control" id="city" placeholder="City">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="sr-only" for="zipCode">Zip code</label>
            <input type="text" class="form-control" id="zipCode" placeholder="Zip code">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="sr-only" for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email Address">
          </div>
        </div>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Agree to terms of service
        </label>
      </div>
      <button id="checkoutButton" type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="col-md-4">
    <h4>Have Paypal?</h4>
    <a href="#/" id="paypalButton">
      <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png" alt="Check out with PayPal" class="img-responsive" />
    </a>
  </div>
</div>
