<h2>Printable Products</h2>
<p>Choose and add your customizations to models that you can print on your own. A STereoLithography (STL)
  file will be generated and be downloadable after checkout.</p>

<div class="row">
  <div class="col-xs-6 col-md-4">
    <a href="#/product/" data-product-id="10" class="thumbnail">
      <img src="img/shop/bat-stl.jpg">
    </a>
  </div>
  <div class="col-xs-6 col-md-4">
    <a href="#/product/" data-product-id="11" class="thumbnail">
      <img src="img/shop/bat-stl.jpg">
    </a>
  </div>
  <div class="col-xs-6 col-md-4">
    <a href="#/product/" data-product-id="12" class="thumbnail">
      <img src="img/shop/bat-stl.jpg">
    </a>
  </div>
  <div class="col-xs-6 col-md-4">
    <a href="#/product/" data-product-id="13" class="thumbnail">
      <img src="img/shop/bat-stl.jpg">
    </a>
  </div>
  <div class="col-xs-6 col-md-4">
    <a href="#/product/" data-product-id="14" class="thumbnail">
      <img src="img/shop/bat-stl.jpg">
    </a>
  </div>
  <div class="col-xs-6 col-md-4">
    <a href="#/product/" data-product-id="15" class="thumbnail">
      <img src="img/shop/bat-stl.jpg">
    </a>
  </div>
</div>
