<h2>Pre-printed Products</h2>
<p>Choose and customize products to be prepared and shipped.</p>

<div class="row">
  <div class="col-xs-6 col-md-4">
    <a href="#/product/" data-product-id="00" class="thumbnail">
      <img src="img/shop/bat-stl.jpg">
    </a>
  </div>
  <div class="col-xs-6 col-md-4">
    <a href="#/product/" data-product-id="01" class="thumbnail">
      <img src="img/shop/bat-stl.jpg">
    </a>
  </div>
  <div class="col-xs-6 col-md-4">
    <a href="#/product/" data-product-id="02" class="thumbnail">
      <img src="img/shop/bat-stl.jpg">
    </a>
  </div>
  <div class="col-xs-6 col-md-4">
    <a href="#/product/" data-product-id="03" class="thumbnail">
      <img src="img/shop/bat-stl.jpg">
    </a>
  </div>
  <div class="col-xs-6 col-md-4">
    <a href="#/product/" data-product-id="04" class="thumbnail">
      <img src="img/shop/bat-stl.jpg">
    </a>
  </div>
  <div class="col-xs-6 col-md-4">
    <a href="#/product/" data-product-id="05" class="thumbnail">
      <img src="img/shop/bat-stl.jpg">
    </a>
  </div>
</div>
